
*.xml
*.iml
*.class
*.xml
IlMioPrimoBot/token.txt
EserciziModulo8/out/production/EserciziModulo8/TweetsParser/trumptweets.csv
EserciziModulo8/out/production/EserciziModulo8/TweetsParser/english_stopwords.txt
EserciziModulo8/out/production/EserciziModulo8/TweetsParser/realdonaldtrump.csv
EserciziModulo10/out/production/EserciziModulo10/Righe1/righe.txt
EserciziModulo10/out/production/EserciziModulo10/Righe1/righeInverse.txt
EserciziModulo10/out/production/EserciziModulo10/Righe2/righe2.txt
